In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("joannanplkrk/its-raining-cats")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.9), please consider upgrading to the latest version (0.3.12).
Downloading from https://www.kaggle.com/api/v1/datasets/download/joannanplkrk/its-raining-cats?dataset_version_number=8...

100%|██████████| 1.79M/1.79M [00:00<00:00, 10.1MB/s]

Extracting files...

Path to dataset files: /Users/jackkennedy/.cache/kagglehub/datasets/joannanplkrk/its-raining-cats/versions/8

In [12]:
import pandas as pd
df = pd.read_csv("cat_breeds_dirty.csv", delimiter=';')

In [17]:
df.tail()

,Breed,Age_in_years,Age_in_months,Gender,Neutered_or_spayed,Body_length,Weight,Fur_colour_dominant,Fur_pattern,Eye_colour,Allowed_outdoor,Preferred_food,Owner_play_time_minutes,Sleep_time_hours,Country,Latitude,Longitude
1098,Angora,4.170000,50.0,female,True,35.0,2.8,white,solid,amber,TRUE,dry,28.0,14.0,USA,45.52345,-122.676210
1099,Angora,-4.250000,-51.0,male,True,37.0,4.6,white,solid,amber,FALSE,dry,36.0,14.0,France,45.76342,4.834277
1100,Angora,-4.333333,-52.0,female,True,34.0,4.3,white,solid,cute,FALSE,wet,37.0,16.0,USA,42.35843,-71.059770
1101,Angora,-4.333333,-52.0,female,True,35.0,3.8,black,solid,amber,FALSE,wet,30.0,14.0,USA,45.52345,-122.676210
1102,Angora,-4.333333,-52.0,female,True,32.0,2.4,white,solid,blue,FALSE,wet,40.0,14.0,USA,47.60621,-122.332070

In [48]:
df.columns

Index(['Breed', 'Age_in_years', 'Age_in_months', 'Gender',
       'Neutered_or_spayed', 'Body_length', 'Weight', 'Fur_colour_dominant',
       'Fur_pattern', 'Eye_colour', 'Allowed_outdoor', 'Preferred_food',
       'Owner_play_time_minutes', 'Sleep_time_hours', 'Country', 'Latitude',
       'Longitude'],
      dtype='object')

In [28]:
df.isnull().sum()      # Count of missing values per column

Breed                      112
Age_in_years                31
Age_in_months               37
Gender                      67
Neutered_or_spayed          53
Body_length                 26
Weight                      26
Fur_colour_dominant         13
Fur_pattern                 48
Eye_colour                  39
Allowed_outdoor             43
Preferred_food              21
Owner_play_time_minutes     21
Sleep_time_hours            41
Country                     75
Latitude                    61
Longitude                   61
dtype: int64

In [82]:
df_clean = df.dropna(subset=['Breed'])
df_clean.isnull().sum()

Breed                       0
Age_in_years               27
Age_in_months              32
Gender                     51
Neutered_or_spayed         37
Body_length                13
Weight                     13
Fur_colour_dominant         0
Fur_pattern                36
Eye_colour                 29
Allowed_outdoor            31
Preferred_food             17
Owner_play_time_minutes    18
Sleep_time_hours           39
Country                    71
Latitude                   55
Longitude                  55
dtype: int64

In [83]:
df_clean = df_clean[df_clean['Age_in_years'] >= 0]
df_clean = df_clean[df_clean['Age_in_months'] >= 0]

df_clean.describe()

,Age_in_years,Age_in_months,Body_length,Weight,Owner_play_time_minutes,Sleep_time_hours,Latitude,Longitude
count,888.000000,888.000000,875.000000,875.000000,872.000000,858.000000,840.000000,840.000000
mean,4.974696,59.695946,44.970286,5.625977,22.698394,15.926573,44.223617,-63.423218
std,2.706081,32.472969,16.503908,2.314866,10.772977,2.595296,4.871965,44.843562
min,0.080000,1.000000,10.000000,0.500000,0.000000,10.000000,37.774930,-123.116226
25%,2.920000,35.000000,36.000000,4.000000,14.000000,14.000000,40.714270,-79.347015
50%,5.080000,61.000000,43.000000,5.300000,23.000000,16.000000,42.358430,-74.005970
75%,7.170000,86.000000,52.000000,7.230000,30.000000,18.000000,47.738946,-2.804337
max,11.250000,135.000000,102.000000,12.100000,60.000000,22.000000,53.800755,13.404954

In [84]:
df_clean = df_clean.dropna()
df_clean.isnull().sum()

Breed                      0
Age_in_years               0
Age_in_months              0
Gender                     0
Neutered_or_spayed         0
Body_length                0
Weight                     0
Fur_colour_dominant        0
Fur_pattern                0
Eye_colour                 0
Allowed_outdoor            0
Preferred_food             0
Owner_play_time_minutes    0
Sleep_time_hours           0
Country                    0
Latitude                   0
Longitude                  0
dtype: int64

In [85]:
df_pivot = df_clean.pivot_table(values='Weight', index='Preferred_food', aggfunc='mean')
df_pivot.head()
# There isn't a difference between preferred food and weight.

                  Weight
Preferred_food
dry             5.724562
wet             5.725453

In [87]:
df_clean.tail(10)

,Breed,Age_in_years,Age_in_months,Gender,Neutered_or_spayed,Body_length,Weight,Fur_colour_dominant,Fur_pattern,Eye_colour,Allowed_outdoor,Preferred_food,Owner_play_time_minutes,Sleep_time_hours,Country,Latitude,Longitude
1089,Angora,3.25,39.0,male,False,40.0,4.5,black,bicolor,blue,FALSE,wet,12.0,16.0,USA,47.606210,-122.332070
1090,Angora,3.42,41.0,male,True,41.0,4.4,white,solid,amber,FALSE,dry,24.0,17.0,USA,45.523450,-122.676210
1091,Angora,3.50,42.0,male,True,39.0,4.8,black,solid,blue,FALSE,wet,15.0,16.0,USA,45.523450,-122.676210
1092,Angora,3.58,43.0,female,True,34.0,3.3,white,solid,blue,FALSE,wet,20.0,14.0,USA,41.881832,-87.623177
1093,Angora,3.67,44.0,male,False,39.0,4.5,white,solid,amber,FALSE,wet,23.0,14.0,USA,47.606210,-122.332070
1094,Angora,3.67,44.0,male,False,37.0,4.6,white,solid,amber,FALSE,wet,32.0,14.0,France,43.611660,3.877710
1095,Angora,3.75,45.0,male,True,43.0,3.9,white,solid,blue,FALSE,wet,38.0,14.0,USA,39.290380,-76.612190
1096,Angora,3.83,46.0,male,False,37.0,4.1,white,solid,green,FALSE,wet,38.0,16.0,USA,38.895110,-77.036370
1097,Angora,3.83,46.0,male,True,40.0,4.8,black,bicolor,amber,TRUE,wet,11.0,15.0,USA,40.714270,-74.005970
1098,Angora,4.17,50.0,female,True,35.0,2.8,white,solid,amber,TRUE,dry,28.0,14.0,USA,45.523450,-122.676210

In [88]:
df_clean.to_csv('cleaned_data.csv', index=False)